body{
    margin: 0;
    background: #000000;
}
h1{
    text-align: center;
    color: #00ee00;
    font-size: 40px;
}
.container{
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.color-container{
    height: 50px;
    width: 100px;   
    color: white;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 4px;
    border: 2px solid black;
    font-size: 16px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}